{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h1>이미지들 안녕?</h1>
{% csrf_token %}
{% for image in queryset %}




    <div>
        <img style="width:200px;" src="{{ MEDIA_URL }}{{ image.image}}" alt="">
        <button value="{{ image.id}}" class="btn btn-primary like">좋아요</button>
        <span class="likes">{{ image.likes }}</span>
    </div>


{% endfor %}


{% endblock content %}

{% block js %}

    <script src="{% static 'js/gallery.js' %}"></script>
{% endblock js %}


