{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p>
                <img class="img-responsive" src="{% static "img/1.jpg" %}" alt="">


                <button class="btn btn-primary">좋아요</button>
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="{% static "img/2.jpg" %}" alt="">
            <button class="btn btn-primary">좋아요</button>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="{% static "img/3.jpg" %}" alt="">
            <button class="btn btn-primary">좋아요</button>
        </div>
    </div>

</div>




<img src="" alt="">

<script>
    $(function(){

    });
</script>

{% endblock content %}